@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Be+Vietnam+Pro:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@layer base {
  body {
    background-color: #fbf8ff;
    font-family: "Be Vietnam Pro", sans-serif;
    color: #191a2e;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }

  .soft-elevation {
    box-shadow: 0 32px 64px -12px rgba(84, 65, 219, 0.08);
  }

  .glass-nav {
    backdrop-filter: blur(8px);
    background: rgba(251, 248, 255, 0.8);
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  /* 반응형 폰트 시스템 (rem 단위) */
  :root {
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 3rem;
    --text-6xl: 3.75rem;
  }

  /* @media (min-width: 768px) {
    :root {
      --text-xs: 0.75rem;
      --text-sm: 0.875rem;
      --text-md: 1rem;
      --text-lg: 1.25rem;
      --text-xl: 1.5rem;
      --text-2xl: 2rem;
      --text-3xl: 2.5rem;
      --text-4xl: 3.5rem;
      --text-5xl: 4.5rem;
      --text-6xl: 5.5rem;
    }
  } */
}